# OS X
.DS_Store
 
# IDE
*.xccheckout
*.DS_Store
*xcuserdata*
*build*
.idea
 
!*/xcshareddata/*
*.xccheckout
*/xcuserdata/*

Code Generation/Generate File/generation_output
Code Generation/Replace Occurrences/*
